body {
  background-color: black;
  color: white;
  background-image: url(fondo_web_01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; 
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: white;

}

a:visited {
  text-decoration: none;

}

#btnSidebarCSS {
  background-color: red;
}

#btnSidebarCSS:hover {
  cursor: pointer;
}

.movieDTCard {
  background-color: #F1F1F1;
  color: black;
  width: 50%;
  align-content: center;
  display: flex;
  flex-direction: column;

}

.movieDTCard h2 {
  font-size: 2.5rem;
  font-weight: 800;
  margin: 30px;
}

.movieDTCardBody {
  font-size: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 30px;
}

.movieDTCardBody p {
  padding: 10px;
}

/*
#sidebar-css {
  /*background-image: url(imagen_fondo_sidebar_01.jpg);
  background-color: #9C1A1A
}

*/

